<!DOCTYPE html>

<html>
    <head>
    <link rel='stylesheet'  href="{{ url_for('static', filename='css/style.css') }}"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet"> 
        
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
    <nav id='nav-bar'> 
    <div id='header'>
            <div id='titleback'>
                <div id='toplogo'>
                    <image src="{{ url_for('static', filename='images/SmallLogo.png') }}" href='/' alt='Logo of a brain with the pattern of a soccer ball'/>
                </div>
            
                <h1>
                    <a href='/'>FUT AI</a>
                </h1>
            </div>
            <div id='menu'>
                <a id='menuelement' href='/'>About</a>
                <a id='menuelement' href='/explore'>Explore</a>
                <a id='menuelement' href='/compare'>Compare</a>
                <a id='menuelement' href='/recommend'>Recommend</a>
            </div>
    </div>
    </nav>
    <body>
        {% block content %}
        {% endblock %}
    </body>

     <footer>
     <div id='theend'>
        <p>Author: Cristina Acevedo</p>
    </div>
    
    <div id='endshadow'>
        <p>Author: Cristina Acevedo</p>
    </div>
    </footer> 
</html>