{%extends 'base.html'%}

{% block title %} 
Explore FIFA 21 players
{% endblock %}

{% block content %}
<h3 id='exploreinstructions'>Explore the players!</h3>

<div id='playersdisplay'>
    {% for r in results %}
    <div id='playerinfo'>
        <p id='playersname'>{{ r.Name }}</p>
        <p id='playeroverall'>Overall: {{ r.Overall }}</p>
        <p>Potential: {{ r.Potential }}</p>
        <p>Value: {{ r.Value }}</p>
        <p>Wage: {{ r.Wage }}</p>
        <p>Position: {{ r.Position }}</p>
    </div>
    {% endfor %} 
</div>

{% endblock %}